.tipsy { padding: 4px; font-size: 11px; opacity: 1; filter: alpha(opacity=1); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 4px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; opacity: 1; filter: alpha(opacity=1); }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }
